# Our custom settings
*.apk

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
BUILDS/
BUILDS.meta
BUILD.meta
.idea
UserSettings/
CppExtension/x64
CppExtension/Debug
CppExtension/bin
CppExtension.ilk*
CppExtension.lib*
CppExtension.exp*
CppExtension.pdb*
log.txt

debug.log
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.csproj
.vs/
*.sln

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
#Icon?
Streamer.sln
ehthumbs.db
Thumbs.db
Thumbs.db.meta
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
pd_standUSA-csharp.sln
pd_standUSA.sln
pd_USA_stand-csharp.sln
pd_USA_stand.sln
BUILD.app
AssetBundles/
RawFiles.meta
RawFiles/
LargeLandscapeScene.unity
LargeLandscapeScene.unity.meta
LandscapeScene.unity
LandscapeScene.unity.meta
Bundles/
Build/
PATCH/
AVProVideoSamples/
Assets/README.md
Assets/TestData/
Assets/TestData.meta
Logs/
CppExtension/CppExtension.ilk
ProjectSettings/ProjectSettings.asset
